[core]
    ui = true
    editor = vim
    autocrlf = false
    filemode = false

[alias]
    go = checkout
    new = checkout -b
    fp = fetch -p
    ru = remote update --prune
    b = branch
    s = status
    l = log
    d = diff

[user]
    name = Alexandre Bolzon
    email = blzn@mail.ru
